@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', system-ui, -apple-system, sans-serif;
  
  --color-background: #111827;
  --color-foreground: #f9fafb;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-family-sans);
  /* Premium Dark Background Gradient */
  background: radial-gradient(circle at top right, #1e1b4b, #111827);
  min-height: 100vh;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }
}
